<p-dialog [(visible)]="createDialogNewCritere" [modal]="true" [style]="{width: '800px'}" header="Ajout Critere"
          styleClass="p-fluid">
    <p-toast></p-toast>
    <ng-template pTemplate="content">

        <div class="field">
            <label for="nom"> nom critere </label>
            <input  autofocus id="nom" pInputText required type="text"/>
<!--            <small *ngIf="submittedNewCritere && !docView.nomCritere "class="p-invalid">nom is required.</small>-->
        </div>
        <div class="field">
            <label for="desc">Valeur Positive</label>
            <input  autofocus id="desc" pInputTextarea required type="text"/>
<!--            <small *ngIf="submittedNewCritere && !docView.valPositive " class="p-invalid">valPositive is required.</small>-->
        </div>
        <div class="field">
            <label for="seuil">Valeur Negative</label>
            <input  autofocus id="seuil" pInputText required type="text"/>
<!--            <small *ngIf="submittedNewCritere && !docView.valNegative" class="p-invalid">Valeur Negative is required.</small>-->
        </div>
        <div class="field">
            <label for="DateD">poid</label>
            <input autofocus id="DateD" required type="number"/>
<!--            <small *ngIf="submittedNewCritere&& !docView.poids" class="p-invalid">poid is required.</small>-->
        </div>


    </ng-template>

    <ng-template pTemplate="footer" style="background-color: lavender;">
        <button (click)="hideCreateDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton
                pRipple></button>
        <button (click)="AddCritere()" class="p-button-text" icon="pi pi-check" label="Save" pButton pRipple></button>
    </ng-template>
</p-dialog>

